@font-face {
    font-family: "Poppins Regular";
    src: url(../fonts/src/Poppins-Regular.ttf),
        url(../fonts/Poppins-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "Poppins Bold";
    src: url(../fonts/src/Poppins-Bold.ttf),
        url(../fonts/Poppins-Bold.woff2);
    font-weight: 700;
}
@font-face {
    font-family: "Poppins Medium";
    src: url(../fonts/src/Poppins-Medium.ttf),
        url(../fonts/src/Poppins-Medium.woff2);
    font-weight: 500;
}
@font-face {
    font-family: "Poppins SemiBold";
    src: url(../fonts/src/Poppins-SemiBold.ttf),
        url(../fonts/src/Poppins-SemiBold.woff2);
    font-weight: 600;
}
@font-face {
    font-family: "Poppins Italic";
    src: url(../fonts/src/Poppins-Italic.ttf),
        url(../fonts/src/Poppins-Italic.woff2);
}