@import '../../node_modules/reset-css/sass/reset';
@import './slider';
@import './fonts';

body {
    padding: 0;
    font-family: "Poppins Regular";
    font-weight: 400;
}

.header-page {
    width: 100%;
    height: 100%;
    .container {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 1440px;
        height: 820px;
    }
    .slider {
        position: absolute;
        inset: 0;
        z-index: 97;
        height: 820px;
    }
    .navigation {
        position: relative;
        z-index: 98;
        display: flex;
        justify-content: space-between;
        padding-left: 165px;
        padding-right: 165px;
        padding-top: 23px;
    }
}

.menu__burger {
    .burger {
        &__list {
            display: flex;
            position: relative;
            width: 40px;
            height: 40px;
            background: #fff;
            border-radius: 50%;
        }
        &__item {
            position: absolute;
            left: 11px;
            top: 14px;
            width: 18px;
            height: 2px;
            background-color: black;
        }
        &__item:nth-child(2) {
            top: 20px;
        }
        &__item:nth-child(3) {
            top: 20px;
        }
        &__item:nth-child(4) {
            top: 26px;
        }
    }
}

.contant {
    position: relative;
    z-index: 98;
    margin-top: 121px;
    margin-left: 166px;
    color: #FFF;
    font-size: 14px;
    &__info, &__descr {
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 22px;
        max-width: 500px;
    }
    &__descr {
        margin-bottom: 45px;
    }
    &__text {
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 74px;
        max-width: 500px;
        margin-bottom: 24px;
    }
    &__link {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        transition: 1s all;
    }
    &__link:hover {
        color: #ffd723;
        transition: 1s all;
    }
    .element-animation {
        opacity: 0;
        transition: 1s;
    }
    .element-animation.element-show {
        opacity: 1;
        transition: opacity 2s;
    }
}
.client-logo {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: -130px;
    right: 0;
    z-index: 98;
    width: 1276px;
    height: 227px;
    background: #fff;
    box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.15);
    &__list {
        padding-right: 166px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .element-animation {
        opacity: 0;
        transition: 1s;
    }
    .element-animation.element-show {
        opacity: 1;
        transition: opacity 1s;
    }
}

.main-page {
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    .element-animation {
        opacity: 0;
        transition: 1s;
    }
    .element-animation.element-show {
        opacity: 1;
        transition: opacity 1s;
    }
    .container {
        position: relative;
        width: 1440px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services {
        max-width: 1110px;
        height: 644px;
        display: flex;
        align-items: end;
        justify-content: space-between;
        padding-bottom: 150px;
        margin-bottom: 162px;
        border-bottom: 1px solid rgba(33, 56, 66, 0.10);;
    }
    .services-block__left {
        display: flex;
        flex-direction: column;
        margin-right: 160px;
    }
    .services-left__text {
        color: rgba(77, 83, 60, 0.90);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-family: "Poppins Regular";
        margin-bottom: 29px;
    }
    .services-left__info {
        color: #4D533C;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 46px;
        width: 450px;
        font-family: "Poppins Bold";
        margin-bottom: 35px;
    }
    .services-left__descr {
        width: 450px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        color: rgba(33, 56, 66, 0.60);
        font-family: "Poppins Regular";
        margin-bottom: 42px;
    }
    .services-left__link {
        font-family: Poppins;
        color: #D4D6D4;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-family: "Poppins Regular";
        transition: 1s all;
    }
    .services-left__link:hover {
        color:#FFD723;
        transition: 1s all;
    }
    .services-block__right {
        width: 474px;
        height: 644px;
        background: #FFF;
        box-shadow: 0px 100px 100px 0px rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: column;
        justify-content: end;
        .services-block__text {
            color: #4D533C;
            font-family: "Poppins Regular";
            font-size: 24px;
            font-style: italic;
            font-weight: 400;
            line-height: 40px;
            width: 400px;
            margin-left: 40px;
            margin-bottom: 64px;
        }
        .services-comment {
            position: relative;
            margin-left: 40px;
            margin-bottom: 60px;
            height: 90px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &__info {
                margin-left: 120px;
                color: #4D533C;
                font-family: "Poppins Bold";
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            &__descr {
                margin-left: 120px;
                color: #152934;
                font-family: "Poppins Regular";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        .services-comment::before {
            position: absolute;
            left: 0;
            display: block;
            content: "";
            background-image: url(../img/foto1.webp);
            background-repeat: no-repeat;
            width: 90px;
            height: 90px;
        }
    }
    .project {
        .project-top {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 104px;
            margin-left: 165px;
        }
        .project-top__info {
            width: 325px;
            color: #4D533C;
            font-family: "Poppins Bold";
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-right: 133px;
        }
        .project-top__text {
            color: rgba(33, 56, 66, 0.60);
            font-family: "Poppins Regular";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            width: 518px;
            height: 78px;
        }
        .project-product__list {
            display: flex;
            flex-direction: column;
        }
        .project-product__item {
            display: flex;
            position: relative;
            margin-bottom: 165px;
            .project-product__comment {
                position: absolute;
                width: 453px;
                height: 243px;
                background: #fff;
                box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.15);
                top: 372px;
                left: 325px;
            }
        }
        .product-group {
            display: flex;
            flex-direction: column;
            padding-left: 90px;
            margin-top: 80px;
        }
        .product-group__info {
            color: #4D533C;
            font-family: Poppins;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px;
            margin-bottom: 24px;
        }
        .product-group__text {
            color: rgba(33, 56, 66, 0.60);
            font-family: "Poppins Regular";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 90px;
            width: 420px;
        }
        .product-group__link {
            color: #D4D6D4;
            font-family: "Poppins-Bold";
            font-size: 16px;
            font-weight: 700;
            line-height: normal;
            transition: 1s all;
        }
        .product-group__link:hover {
            color:#FFD723;
            transition: 1s all;
        }
        .comment-info {
            color: #4D533C;
            font-family: "Poppins Italic";
            font-size: 16px;
            line-height: 26px;
            padding: 30px 30px;
        }
        .comment-author {
            position: relative;
            margin-left: 40px;
            height: 46px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 70px;
        }
        .comment-author::before {
            position: absolute;
                left: 0;
                display: block;
                content: "";
                width: 46px;
                height: 46px;
                background-repeat: no-repeat;
        }
        .project-product__item:nth-child(1){
            .comment-author::before {
                background-image: url(../img/foto2.webp);
            }
        }
        .comment-name {
            color: #4D533C;
            font-family: "Poppins Bold";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    .project-product__item:nth-child(2) {
        flex-direction: row-reverse;
        .product-group {
            margin-right: 105px;
        }
        .project-product__comment {
            left: 610px;
        }
        .comment-author::before {
            background-image: url(../img/foto3.webp);
        }
    }
    .project-product__item:nth-child(3) {
        .comment-author::before {
            background-image: url(../img/foto4.webp);
        }
    }
    .presentation {
        width: 1110px;
        border-top: 1px solid rgba(33, 56, 66, 0.10);
        margin-top: 50px;
        .presentation__info {
            margin-top: 100px;
            margin-bottom: 60px;
            width: 600px;
            color: #4D533C;
            font-family: Poppins Bold;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 46px;
        }
        &__list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 358px;
        }
        &__item {
            padding: 30px;
        }
        .presentation-text {
            display: flex;
            flex-direction: column;
            color: #4D533C;
            font-family: Poppins Medium;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 34px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .presentation-descr {
            color: rgba(33, 56, 66, 0.60);
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            width: 160px;
            height: 104px;
            margin-bottom: 30px;
        }
        .presentation-link {
            color: #D4D6D4;
            font-family: Poppins-Bold;
            font-weight: 700;
            font-size: 16px;
            transition: 1s;
        }
        .presentation-link:hover {
            color: #FFD723;
            transition: 1s;
        }
        .presentation-call {
            position: absolute;
            bottom: -172px;
            left: 0;
            width: 1275px;
            height: 362px;
            margin-top: 150px;
            background: #FAFAFA;
            box-shadow: 50px 130px 100px 0px rgba(0, 0, 0, 0.15);
            &__link {
                margin-left: 164px;
            }
        }
        .presentation-call__info {
            padding-top: 70px;
            margin-left: 164px;
            color: #4D533C;
            font-family: Poppins Bold;
            font-size: 60px;
            font-style: normal;
            font-weight: 700;
            line-height: 74px;
            width: 800px;
            margin-bottom: 50px;
        }
    }
}
.footer-page {
    width: 100%;
    background: #4F553D;
    padding-top: 310px;
    display: flex;
    justify-content: center;
    .container {
        width: 1440px;
    }
    .footer-contact {
        padding-bottom: 52px;
        margin-bottom: 60px;
        border-bottom: 1px solid #5D6544;
        &__list {
            display: flex;
        }
        &__item {
            padding-right: 128px;
        }
        .contact-phone {
            color: #B6C197;
            font-family: Poppins Regular;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px;
        }
        .contact-link, .contact-addres {
            color: #FFF;
            font-family: Poppins Bold;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
            text-decoration: none;
        }
    }
    .footer-navigation {
        display: flex;
    }
    .navigation-block {
        border-right: 1px solid #5D6544;
        margin-right: 100px;
        &__list {
            display: flex;
            flex-direction: row;
        }
        &__item {
            display: flex;
            flex-direction: column;
            margin-right: 80px;
        }
        &__info {
            margin-bottom: 21px;
            color: #FFF;
            font-family: Poppins SemiBold;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 38px;
            text-transform: uppercase;
        }
        &__link {
            color: #B6C197;
            font-family: Poppins Regular;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px;
            text-decoration: none;
            transition: 1s all;
        }
        &__link:hover {
            transition: 1s all;
            color: #fff;
            font-weight: 500;
        }
    }
    .navigation-social {
        &__info {
            color: #FFF;
            font-family: Poppins SemiBold;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 38px;
            text-transform: uppercase;
            margin-bottom: 23px;
        }
        &__text {
            color: #B6C197;
            font-family: Poppins Regular;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 23px;
        }
        &__email {
            color: #FFF;
            font-family: Poppins Bold;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 38px;
        }
        &__list {
            margin-top: 23px;
            display: flex;
            flex-direction: row;
        }
        &__item {
            margin-right: 11px;
            width: 33px;
            height: 33px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #444A34;
            border-radius: 50%;
        }
        &__link {
            font-family: Poppins-Bold;
            font-weight: 700;
            font-size: 22px;
            color: #5E6648;
            text-decoration: none;
            transition: 1s all;
        }
        &__item:hover {
            background-color:#FFD723;
            transition: 1s all;
        }
        &__item:hover .navigation-social__link  {
            transition: 1s all;
            color: #fff;
        }
    }
    .footer-logo {
        padding-top: 25px;
        padding-bottom: 33px;
        margin-top: 60px;
        border-top: 1px solid #5D6544;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 375px) {

    .header-page {
        overflow: hidden;
        .container {
            width: 100%;
            height: 100%;
        }
        .navigation {
            width: 100%;
            padding-left: 0;
            align-items: center;
        }
        .logo__image {
            padding-left: 10px;
            width: 150px;
        }
        .navigation__menu {
            padding-right: 10px;
        }
        .contant {
            margin-left: 15px;
            padding-bottom: 50px;
        }
        .contant__text {
            padding-right: 10px;
            font-size: 50px;
        }
        .client-logo {
            width: 100%;
            height: 100%;
            position: relative;
            bottom: unset;
            right: unset;
        }
        .client-logo__list {
            margin-top: 25px;
            padding-right: 0;
            flex-direction: column;
        }
        .client-logo__item {
            padding: 15px;
        }
    }
    .main-page {
        .container {
            width: 100%;
        }
        .services {
            width: 90%;
            height: 1000px;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            margin-top: 50px;
            margin-bottom: 50px;
            padding-bottom: 0;
        }
        .services-block__left {
            width: 100%;
        }
        .services-block__right {
            width: 100%;
            justify-content: center;
            align-items: center;
            .services-block__text {
                width: 90%;
                margin-left: 0;
                display: block;
            }
            .services-comment {
                margin-left: 15px;
                margin-bottom: 0;
            }
            .services-comment__info {
                font-size: 16px;
            }
            .services-comment__descr {
                font-size: 14px;
            }
        }
        .services-left__text,
        .services-left__info,
        .services-left__descr,
        .services-left__link {
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .project {
            width: 90%;
            overflow: hidden;
            .project-top {
                margin: 0;
                flex-direction: column;
                margin-bottom: 100px;
            }
            .project-top__info {
                width: 100%;
                margin-right: 0;
            }
            .project-top__text {
                width: 100%;
            }
            .project-product__item {
                position: relative;
                justify-content: center;
                align-items: center;
                margin-bottom: 100px;
            }
            .product-group {
                position: absolute;
                margin-left: 0;
                padding-left: 0;
                margin-top: 0;
                width: 90%;
                background:rgba(255, 255, 255, 0.9);
                padding-left: 10px;
                padding-right: 10px;
                border-radius: 10px;
            }
            .product-group__info {
                margin-top: 20px;
                font-size: 30px;
                line-height: 30px;
            }
            .product-group__text {
                width: 100%;
                margin-bottom: 20px;
            }
            .product-group__link {
                margin-bottom: 20px;
                color: #152934;
            }
            .project-product__item {
                .project-product__comment {
                    display: none;
                }
            }
            .project-product__item:nth-child(2){
                .product-group {
                    margin-right: 0;
                }
            }
        }
        .presentation {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .presentation__info {
                text-align: center;
                width: 90%;
            }
            .presentation__list {
                width: 90%;
                flex-direction: column;
            }
            .presentation__item {
                box-shadow: 20px 20px 100px 20px rgba(0,0,0,.15);
                margin-bottom: 20px;
            }
            .presentation-call {
                width: 100%;
            }
            .presentation-call__info {
                margin-left: 0;
                width: 100%;
                font-size: 46px;
                line-height: 50px;
            }
        }
    }
    .footer-page {
        width: 100%;
        .container {
            width: 90%;
        }
        .footer-contact__list {
            flex-direction: column;
            .footer-contact__item {
                margin-bottom: 20px;
                padding-right: 0;
            }
        }
        .navigation-block {
            margin-right: 0;
            border-right: unset;
        }
        .navigation-block__item {
            margin-right: 0;
            margin-bottom: 50px;
        }
        .footer-navigation {
            flex-direction: column;
        }
        .navigation-block__list {
            flex-direction: column;
        }
        .footer-logo {
            flex-direction: column;
        }
        .navigation-social__email {
            font-size: 20px;
        }
    }
}