<footer class="footer-page">
    <div class="container">
        <div class="footer-contact">
            <ul class="footer-contact__list">
                <li class="footer-contact__item">
                    <p class="contact-phone">Phone</p>
                    <a class="contact-link" href="tel:+32 50 31 28 32">+32 50 31 28 32</a>
                </li>
                <li class="footer-contact__item"></li>
            </ul>
        </div>
        <div class="footer-navigation">
            <div class="navigation-block">
                <ul class="navigation-block__list">
                    <li class="navigation-block__item">
                        <p class="navigation-block__info">Services</p>
                        <a href="#" class="navigation-block__link">Strategy Design</a>
                        <a href="#" class="navigation-block__link">Product Design</a>
                        <a href="#" class="navigation-block__link">Content Strategy</a>
                        <a href="#" class="navigation-block__link">Brand Strategy</a>
                        <a href="#" class="navigation-block__link">Development </a>
                    </li>
                    <li class="navigation-block__item">
                        <p class="navigation-block__info">Help And Advice</p>
                        <a href="#" class="navigation-block__link">How it works</a>
                        <a href="#" class="navigation-block__link">Contact Support</a>
                        <a href="#" class="navigation-block__link">Privacy Policy</a>
                        <a href="#" class="navigation-block__link">FAQ</a>
                    </li>
                    <li class="navigation-block__item">
                        <p class="navigation-block__info">Company</p>
                        <a href="#" class="navigation-block__link">About</a>
                        <a href="#" class="navigation-block__link">Blog</a>
                        <a href="#" class="navigation-block__link">Contact</a>
                        <a href="#" class="navigation-block__link">Jobs</a>
                    </li>
                </ul>
            </div>
            <div class="navigation-social">
                <p class="navigation-social__info">Get in Touch</p>
                <p class="navigation-social__text">Feel free to get in touch with us vai email</p>
                <a email="info.webovio@gmail.com" class="navigation-social__email">info.webovio@gmail.com</a>
                <ul class="navigation-social__list">
                    <li class="navigation-social__item">
                        <a href="#" class="navigation-social__link">f</a></li>
                    <li class="navigation-social__item">
                        <a href="#" class="navigation-social__link">tw</a></li>
                    <li class="navigation-social__item">
                        <a href="#" class="navigation-social__link">g</a></li>
                    <li class="navigation-social__item">
                        <a href="#" class="navigation-social__link">in</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-logo">
            <img src="img/logo.webp" alt="" class="footer-logo__image">
            <p class="footer-logo__copyrating">© 2020@webovio. All Rights Reserved.</p>
        </div>
    </div>
</footer>
<script src="js/simple-adaptive-slider.js"></script>
<script src="js/main.min.js"></script>
</body>
</html>