<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.min.css">
    <title>Webovio</title>
</head>
<body>
    <header class="header-page">
        <div class="container">
            <div class="slider">
                <div class="itcss">
                    <div class="itcss__wrapper">
                        <div class="itcss__items">
                            <div class="itcss__item">
                                <img src="img/Bitmap.webp" alt="" class="slider__image">
                            </div>
                            <div class="itcss__item">
                                <img src="img/Bitmap.webp" alt="" class="slider__image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navigation">
                <div class="logo">
                    <img class="logo__image" src="img/Logo.webp" alt="Логотип Webovio">
                </div>
                <nav class="navigation__menu">
                    <div class="menu__burger">
                        <ul class="burger__list">
                            <li class="burger__item"></li>
                            <li class="burger__item"></li>
                            <li class="burger__item"></li>
                            <li class="burger__item"></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="contant">
                <p class="contant__info element-animation">A place where</p>
                <h1 class="contant__text element-animation">A creative agency for redemptive brands</h1>
                <p class="contant__descr element-animation">Anteelo is a leading strategic design firm that builds powerful digital solutions for startups and enterprises.</p>
                <a href="#" class="contant__link element-animation">Get in touch</a>
            </div>
            <div class="client-logo">
                <ul class="client-logo__list">
                    <li class="client-logo__item">
                        <img src="img/Andrew-Porter-Logo.webp" alt="" class="client-logo__image element-animation"></li>
                    <li class="client-logo__item">
                        <img src="img/Jalen-Rose-Leadership-Academy-Logo.webp" alt="" class="client-logo__image element-animation"></li>
                    <li class="client-logo__item">
                        <img src="img/Wal.webp" alt="" class="client-logo__image element-animation"></li>
                    <li class="client-logo__item">
                        <img src="img/Ideal.webp" alt="" class="client-logo__image element-animation"></li>
                    <li class="client-logo__item">
                        <img src="img/PhalenLeadership.webp" alt="" class="client-logo__image element-animation"></li>
                </ul>
            </div>
        </div>
    </header>
